# VS / VS Code / .NET ignore
logs/
bin/
obj/
/.vs/
/packages/
*.user
*.suo
*.cache
*.ncrunchsolution
*.ncrunchproject
_ReSharper*/
*.DotSettings.user
*.sln.docstates

# Build artifacts
*.exe
*.dll
*.pdb
*.log
*.appx
*.appxbundle
*.msix
*.msixbundle
*.nupkg
*.snupkg

# DB files
*.db

# Rider/JetBrains
.idea/
*.iml

# VS Code
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# OS
Thumbs.db
.DS_Store
*.swp
*.swo
*.lnk
